*.rb linguist-detectable=false
*.swift linguist-detectable=false
*.cmake linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false
*.xib linguist-detectable=false
*.storyboard linguist-detectable=false
*.entitlements linguist-detectable=false
*.xc* linguist-detectable=false
Podfile linguist-detectable=false
CMakeLists.txt linguist-detectable=false